# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Temp/UnityLockfile
Temp/UnityTempFile-49a0e065acd08c14d88efe8df1fa4b2d
Temp/__Backupscenes/0.backup
Temp/UnityTempFile-e0853621377ec77419df7013045c0a57
Temp/UnityTempFile-0d9a44754b325e240927195e8e59ae1c
Temp/UnityTempFile-4b9cfc46e20c34140bd446703e3dd89e
Temp/UnityTempFile-9363e732121925843802c5a11149b08d
Temp/UnityTempFile-2814d31e832bd70439b977937f7562fb
Temp/UnityTempFile-2d5ecca6a6fe54742811231527f46054
Temp/UnityTempFile-4f5f88e5ccecf584594ebf88b85be936
Temp/UnityTempFile-6fc9129c46e1d2246878261fe8f690c0
Temp/UnityTempFile-86cab84d8bcb3e7449ac91cd544ed145
Temp/UnityTempFile-b779d5a413029b64ab3d60bf230a1174
Temp/UnityTempFile-f4797ff412cd0dd438516a614395a0a7
Temp/UnityTempFile-7cddac6994b82324f8fc29701ffb98f0
Temp/UnityTempFile-8d2688e4e22c76c44b34bbab687751f5
Temp/UnityTempFile-b50d88141c17af64b8c20357af5b558e
Temp/UnityTempFile-3be158e47ca4faa438b6bab39e487b33
Temp/UnityTempFile-724283ab397fd564e8fe153c2354f2c0
Temp/UnityTempFile-8be1458166e4de54d9321ca35ecd6097
Temp/UnityTempFile-f0fad0622cd4d4f4db2be2168db533a6
Temp/UnityTempFile-adbb27086d77219448c9631f1acac87b
